/* To troubleshoot languages and links, un-comment these rules. "Debug" makes it clear that the stylesheet has applied. */

/*
body::before {
    content: 'debug';
    font-weight: bold;
    color: red;
}

[href="..."]::before {
    content: '!href!';
}

[lang="..."]::before {
    content: '!lang!';
}

[lang]::before {
    content: attr(lang);
    font-weight: bold;
    font-style: italic;
}
*/